[submodule "TestLib/external/CMake-codecov"]
	path = TestLib/external/CMake-codecov
	url = git://github.com/RWTH-HPC/CMake-codecov.git
	

[submodule "TestLib/external/Catch2"]
	path = TestLib/external/Catch2
	url = git://github.com/catchorg/Catch2.git
